/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* common styles */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.container{
    width: 1440px;
}
a{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}
/* header styles start here */
header{
    background-color: #2D25A0;
    height: 677px; 
    color: #FFFFFF; 
}
nav{
    display: flex;
    justify-content: space-between; 
}
nav .links{
    height: 44px;
    margin-left: 156px;
    margin-top: 42px;
    display: flex;
    align-items: center;
}
.links a{
    margin-right: 36px;
}
.login-box{
    display: flex;
    align-items: center;
    margin-top: 42px;
    margin-right:123px;
}
.login-icon{
    margin-right: 8px;
}
.full-page{
    display: flex;   
}
.half-page{
    width: 50%;
}
.half-page-intro{ 
    margin-left: 156px;
    margin-top: 122px;
    margin-right: 102px;
}
.intro-text{
    width: 485px;
    margin:0;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
}.half-page-banner{
    position: relative;
}
/* used two images one ase overlay for animation */
.half-page-banner .man{
    position: absolute;
    width: 556.01px;
    height: 438px;
    margin-top: 50px;
    z-index: 1;
}
.half-page-banner .ball{
    position: absolute;
    width: 556.01px;
    height: 438px;
    margin-top: 50px;
    z-index: 2;
}
.button{
    background-color:#E02C6D;
    padding: 10px 24px;
    color: #FFFFFF;
}
.button:hover {
    background-color: #3e8e41;
}
.button-div{
    margin-top: 27px;
}
.live-icon{
    margin-left: 8px;
}
.ball:hover{
    animation: rotation 2s infinite linear;

}
.rotate {
    animation: rotation 2s infinite linear;
  }
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  /* header styles end here */

  /* Iconic players style */
.second-page ,.fifth-page{
    margin-top: 70px;
    width: 1050px;
    margin-left: 180px;
    margin-right: 210px;
}
  .players img{
    width: 300px;
    height: 256px;
    padding-bottom: 1px;
  }
  .players{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-column-gap: 30px;
      grid-row-gap: 45px;  
  }
  .player{
    padding: 16px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  }
  .player-name, .news-title{
      margin: 0;
      height: 40px;
      width: 300px;
      font-size: 28px;
      font-weight: 700;
  }
  .player-story{
      margin-top: 10px;
      font-size: 16px;
      line-height: 26px;
      color: #6C6C6C;
  }

  /* highlights section styles */
  .third-page, .fourth-page, .fifth-page{
    width: 1102px;
    height: 427px;
    margin-top: 165px;
    margin-left: 182px;
    margin-right: 156px;
}
.half-page .inside-highlights{
  
   width: 469;
   height: 309;
   margin-top: 59px;
   margin-bottom: 59px;
   margin-right: 66px;
}
.highlights-brief{
    color: #6C6C6C;
    font-size: 16px;
    line-height: 28px;
    margin-top: 8px;
}
.highlights-title{
    color: #0A0826;
    width: 469px;
    height: 120px;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    margin: 0;
}
.half-page .match{
    width: 567px;
    height: 427px;
}
  /* fourth page styles */
.fourth-page{
    padding: 10px 20px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.10);
    background-color:rgba(237, 245, 250, 0.809) ;
}
/* fifth-page/news page styles */
.fifth-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.10);
    background-color:rgba(247, 217, 205, 0.652) ; 
}
.fifth-page a{
    color: red;
}
.news img{
    width: 150px;
    height: 128px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}
.latest-news{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 45px;  
}

  /* footer styles */
footer{
      margin-top: 158px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
footer .logo, .icons{
    margin-bottom: 20px;
}
footer img{
    width: 483.87px;
    height: 110px; 
}
footer a{
    color: Gray;
    background-color: lightgray;
    padding: 10px;
    border-radius: 50%;
    margin-left: 10px;
}
/* responsive styles */

/* mobile devices */


@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
   .players{
       grid-template-columns: repeat(1, 1fr);
   }
   
}

